/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
/* Import Tailwind CSS base styles */
@import "tailwindcss/base";

/* Import Tailwind CSS component styles */
@import "tailwindcss/components";

/* Import Tailwind CSS utility classes */
@import "tailwindcss/utilities";

.size {
  position: fixed;
  top: 0;
  right: 0;
  width: 7%; /* Adjust the width as needed */
  height: 100%;
  background-color: #f4f1f1;
  border-left: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  z-index: 1000;
  transition: right 0.3s ease;
  user-select: none;
}

.menu-fixed {
  display: flex;
  padding: 20px;
  height: 50px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f5eeee;
  border: 2px solid #615e5e28;
  transition: 0.3s;
}

.menu-fixed.selected {
  display: flex;
  padding: 26px;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: #f0f0f0;
}

.sizecomb {
  position: fixed;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: #ededed;
  right: -20%;
  transition: all 0.6s ease; /* Adjust the duration and easing function as needed */
  z-index: 3;
  user-select: none;
}

.sizecomb.open {
  right: 7%;
}
.heading {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(9, 1, 124);
  color: aliceblue;
  font-size: 19px;
  margin-bottom: 10px;
}

.module {
  display: flex;
  position: relative;
  height: 60px;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  transition: 0.3s;
  justify-content: space-between;
  padding: 20px;
  font-size: 12px;
  z-index: 20;
}

.box1 {
  color: #fff;
  padding: 13px;
  border: 1px solid rgb(57, 54, 54);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.module.selected {
  background-color: rgb(194, 244, 119);
}

.module-container {
  max-height: 90vh; /* Adjust the height as needed */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
}

.module-container::-webkit-scrollbar {
  width: 5px;
}

.module-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  position: absolute;
  left: -10%;
  border: 2px solid black;
  z-index: 10;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  align-content: center;
  user-select: none;
}

.colorop {
  display: flex;
  justify-content: space-around;
}
.inputcontrols {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
}

.boxcon {
  display: flex;
  align-items: center; /* Align items vertically in the flex container */
  margin-bottom: 10px; /* Add margin between input groups */
}

.label {
  width: 20px; /* Set a fixed width for the labels */
  margin-right: 50px; /* Add margin between label and input */
}

.controls {
  width: 40px;
}
.child-div {
  height: 100%;
  width: 33.3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;
  z-index: 3;
  /* position: absolute; */
}
.subdiv {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.alldiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.butin {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imagecrop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center-container {
  position: relative;
  /* Add styles for positioning and dimensions if needed */
  background-size: cover;
  background-position: center;
}

.center-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.center-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.mainchild {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
}
.inputofcont {
  width: 40px;
}
.socketsizw {
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.buttonofjod {
  background: transparents;
}
.joddiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.label-container {
  min-width: 100px; /* Adjust according to your layout */
}

label {
  display: flex;
  width: 100px; /* Adjust the width according to your layout */
  text-align: right;
}

input {
  background: transparent;
  border: none;
  outline: none;
}
